<a href="https://colab.research.google.com/github/EduardoMoraesRitter/Titanic-Machine-Learning-from-Disaster/blob/master/aplicando_modelos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

d = pd.DataFrame({'column_ID':[1,2,3], 'column_ID_2':[3,4,2], 'column_edge':[4,5,3]})
d

   column_ID  column_ID_2  column_edge
0          1            3            4
1          2            4            5
2          3            2            3

In [12]:
import networkx as nx

G = nx.from_pandas_edgelist(df=d, source='column_ID', target='column_ID_2')

G.add_nodes_from(nodes_for_adding=d.column_edge.tolist())

G.nodes()

NodeView((1, 3, 2, 4, 5))

In [13]:
https://igraph.org/python/doc/tutorial/tutorial.html

SyntaxError: ignored